Repository roopxx/pr-agent-test, changes with the labels that .github/labeler.yml gives for each.
All labels: django-settings, frontend, database, tests, api, security, dependencies, documentation, github-actions

.github/labeler.yml:

"django-settings":
- changed-files:
  - any-glob-to-any-file: ['**/settings.py', '**/settings/**/*.py']

"frontend":
- changed-files:
  - any-glob-to-any-file: ['**/static/**/*.css', '**/static/**/*.js', 'dashboard.html', '**/templates/**/*.html']

"database":
- changed-files:
  - any-glob-to-any-file: ['**/models.py', '**/migrations/**/*']

"tests":
- changed-files:
  - any-glob-to-any-file: ['**/tests.py', '**/tests/**/*.py', '**/test_*.py']

"api":
- changed-files:
  - any-glob-to-any-file: ['**/api/**/*', '**/serializers.py']

"security":
- changed-files:
  - any-glob-to-any-file: ['**/auth/**/*', '**/permissions.py', '**/users/**/*']

"dependencies":
- changed-files:
  - any-glob-to-any-file: ['**/requirements.txt', '**/requirements/**/*.txt']

"documentation":
- changed-files:
  - any-glob-to-any-file: ['README.md', '**/*.md', '**/docs/**/*']

"github-actions":
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

# Branch naming patterns with increased priority for specific labels
"feature":
- head-branch: ['^feature/', '^feat/', 'feature-', 'feat-', 'feature_', 'feat_']

"enhancement":
- head-branch: ['^enhancement/', '^enhance/', 'enhancement-', 'enhance-', 'enhancement_', 'enhance_']

"bug-fix":
- head-branch: ['^bugfix/', '^bug/', '^fix/', '^hotfix/', 'bugfix-', 'bug-', 'fix-', 'hotfix-', 'bugfix_', 'bug_', 'fix_', 'hotfix_']

"refactor":
- head-branch: ['^refactor/', 'refactor-', 'refactor_', 'refact']

feat: implement basic task model
  tasks/models.py
Labels: database

fix: rate-limiting
  .github/workflows/review-trigger.yml
Labels: github-actions

refact: clean workflow and add comments
  .github/workflows/review-trigger.yml
Labels: github-actions

feat: implement basic task views
  tasks/views.py
Labels: none

feat: implement urls for views
  taskmanager/urls.py
  tasks/urls.py
Labels: none

feat: implement forms
  taskmanager/settings.py
  tasks/forms.py
Labels: django-settings

chore: add empty line
  tasks/forms.py
Labels: none

chore: add empty line
  taskmanager/settings.py
  taskmanager/urls.py
Labels: django-settings

feat: implement base.html
  tasks/templates/tasks/base.html
Labels: frontend

feat: add more templates
  tasks/templates/tasks/task_detail.html
  tasks/templates/tasks/task_list.html
Labels: frontend

test: another PR with fix branch
  tasks/templates/tasks/task_confirm_delete.html
  tasks/templates/tasks/task_form.html
Labels: frontend

chore: update README
  README.md
Labels: documentation

chore:include minimal coderabbit config to disable autoreview
  .coderabbit.yaml
Labels: none
